body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 500px;
}

#title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 350px;
  height: 420px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;

  /* Text */
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.present {
  background-color: #c9b458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787c7e;
  color: white;
  border-color: white;
}

#container {
  display: flex;
  border: 20px solid lightgray;
  border-radius: 10%;
  padding: 0 0 0 0;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

header {
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-bottom: 40px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  margin: 7px 0 7px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#boardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: large;
  font-size: 25px;
  border: 0;
  border-radius: 12px;
  padding: ;
  height: 58px;
  width: 60px;
  cursor: pointer;
  flex-grow: 1;
  background-color: rgb(253, 253, 253);
}

button:hover {
  background-color: rgb(207, 207, 207);
}

.wide-button {
  width: 100px;
}
